<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airplane Management System - Table</title>
    <!-- Include head fragment from Layout/layout.html -->
    <th:block th:replace="Layout/layout :: head"></th:block>
</head>
<body>
<!-- Include navbar fragment from Layout/layout.html -->
<th:block th:replace="Layout/layout :: navbar"></th:block>

<div class="container mt-4">

    <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
        <div class="accordion-item border-0">
            <div class="d-flex mb-3 accordion-header" id="panelsStayOpen-headingOne">
                <div class="me-auto p-2">
                    <h2>Air Plane Waiting for Landing</h2>
                </div>
                <div class="p-2 d-flex align-items-center">
                    <button type="button" class="btn btn-primary" onclick="generateNewArrival()">Generate Arrival</button>
                </div>
                <div class="p-2">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne"></button>
                </div>
            </div>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <div th:if="${#lists.isEmpty(arrivals)}" class="text-center">
                        <p class="fst-italic">No flights available at the moment.</p>
                    </div>

                    <div th:unless="${#lists.isEmpty(arrivals)}">
                        <table id="arrivalsTable" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Plane</th>
                                <th>Arriving From</th>
                                <th>Scheduled Arrival</th>
                                <th>Passenger</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="arrival : ${arrivals}">
                                <td th:text="${arrival.flightId}"></td>
                                <td>
                                    <span th:text="${arrival.plane.type}"></span> -
                                    <span th:text="${arrival.plane.model}"></span>
                                </td>
                                <td th:text="${arrival.arrivingFrom.name}"></td>
                                <td th:text="${arrival.arrivalTime}"></td>
                                <td th:text="${arrival.passenger}"></td>
                                <td th:text="${arrival.flightStatus}"></td>
                                <td>
                                    <button type="button"
                                            class="btn btn-success mx-2"
                                            th:onclick="approveLanding([[${arrival.flightId}]])"
                                    >Next Action</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="accordion-item border-0">
            <div class="d-flex mb-3 accordion-header" id="panelsStayOpen-headingTwo">
                <div class="me-auto p-2">
                    <h2>Airplane On Runway &amp; Parked</h2>
                </div>
                <div class="p-2">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo"></button>
                </div>
            </div>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <div th:if="${#lists.isEmpty(runaways)}" class="text-center">
                        <p class="fst-italic">All runaways available at the moment.</p>
                    </div>

                    <div th:unless="${#lists.isEmpty(runaways)}">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Plane</th>
                                    <th>Depart To</th>
                                    <th>Scheduled Departure</th>
                                    <th>Passenger</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr th:each="runaway : ${runaways}">
                                <td th:text="${runaway.flightId}"></td>
                                <td>
                                    <span th:text="${runaway.plane.type}"></span> -
                                    <span th:text="${runaway.plane.model}"></span>
                                </td>
                                <td th:text="${runaway.departureTo}"></td>
                                <td th:text="${runaway.scheduledDeparture}"></td>
                                <td th:text="${runaway.passenger}"></td>
                                <td th:text="${runaway.flightStatus}"></td>
                                <td>
                                    <button type="button"
                                            class="btn btn-primary"
                                            th:onclick="approveLanding([[${runaway.flightId}]])"
                                    >Next Action</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="errorToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Exception message here!
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var myToast = new bootstrap.Toast(document.getElementById('errorToast'), {
            autohide: true,   // Automatically hide after the specified delay
            delay: 5000       // Delay in milliseconds (5 seconds)
        });

        window.showErrorToast = function(message) {
            document.querySelector("#errorToast .toast-body").innerText = message;
            myToast.show();
        };
    });

    function generateNewArrival() {
        axios.post('/flight/generate-flight')
        .then(function (response) {
            location.reload();
        })
        .catch(function (error) {
            console.log('Error generating flight:', error);
        });
    }

    function approveLanding(flightId) {
        axios.put('/flight/status/' + flightId)
        .then(function (response) {
            location.reload();
        })
        .catch(function (error) {
            console.log('Error generating flight:', error);
            showErrorToast(error.response.data);
        });
    }

</script>
<!-- Include footer fragment from Layout/layout.html -->
<th:block th:replace="Layout/layout :: footer"></th:block>
</body>
</html>
